name: "Pip"

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - master
      - main

jobs:
  build:
    name: Build with Pip
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        # platform: [windows-latest, macos-latest, ubuntu-latest]
        platform: [macos-latest, ubuntu-latest]
        python-version: ["3.11", "3.12"]

    steps:
    - uses: actions/checkout@v3
      with:
        submodules: true

    - uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: install ubuntu requirement
      if: ${{ matrix.platform == 'ubuntu-latest' }}
      run:  ./ci_scripts/install_requirements_ubuntu.sh

    - name: Build and install
      run: pip install --verbose .[test]

    - name: Test
      run: pytest
